{{ template "base" . }}

{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Victor Toledo</h2>
                <p>Product Manager</p>
                <p>Product Owner - Scrum Master</p>
                <p>Semi Senior Full Stack</p>

                <ul class="py-3">
                    <li><a href="https://victortoledodev.com.ar/" target="_blank">Victor Toledo Sitio</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}