{{ template "base" . }}

{{ define "title" }} RPS web - Jugar {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5 text-center">
                <h2> {{ .Name}} </h2>
                <p class="fw-bold">0</p>
                <div class="d-grid gap-2 card p-3">
                    <button class="btn btn-outline-success">
                        <img src="static/img/hand_rock.png" alt="hand_rock" width="50" class="img_fluid"/>
                        <span class="fw-bold">Piedra</span>
                    </button>
                    <button class="btn btn-outline-success">
                        <img src="static/img/hand_paper.png" alt="hand_rock" width="50" class="img_fluid"/>
                        <span class="fw-bold">Papel</span>
                    </button>
                    <button class="btn btn-outline-success">
                        <img src="static/img/hand_scissors.png" alt="hand_rock" width="50" class="img_fluid"/>
                        <span class="fw-bold">Tijera</span>
                    </button>
                </div>
            </div>
            <div class="col py-5 text-center">
                <h2>Computadora</h2>
                <p class="fw-bold">0</p>
                <div class="card p-3">
                    <div class="d-flex justify-content-center">
                        <img src="static/img/reload_icon.png" alt="reload_icon" width="200" class="img_fluid"/> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h2>Resultados</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">El jugador eligió ROCK</li>
                <li class="list-group-item">La computadora eligió PAPEL</li>
                <li class="list-group-item">¡La computadora gana!</li>
                <li class="list-group-item">Este no es tu día.</li>
            </ul>
        </div>
        <div class="row text-center">
            <div class="col py-3">
                <a href="/new" class="btn btn-success btn-lg">Nuevo Juego</a>
            </div>
        </div>
    </div>
</section>

{{ end }}